body{
    height: 100%;
}
.fondo{
    width: 100%;
    flex-wrap: nowrap;
}
.fondo-i{
    width: 50%;
    height: 70rem;
}
.fondo.dark{
    width: 100%;
    height: 49rem;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    animation-name: verticalidad;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal ;
}
.fondo-i.dark{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    animation-name: verticalidad;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal ;
}
@keyframes verticalidad{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    }
}
.fondo-i.black{
    width: 100%;
    height: content;
    animation-name: agrandar;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal ;
}
@keyframes agrandar{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 40%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
a.text-secondary{
    color: #ffffff!important;
}
a.text-secondary:focus, a.text-secondary:hover{
    color: #0092be!important;
}
.grid.container{
    height: 80vh;
}
.grid.row{
    height: 80vh;
}
.grid.col-sm-12{
    margin-bottom: 6rem;
}
.grid.btn{
    font-size: 1.5rem;
    padding: .6rem 1.6rem;
    border-radius: .8rem;
}
.grid.btn.btn-primary{
    background: none;
    border-color: #ffffff;
    border: .2rem solid;
    transition: all .3s ease-in-out;
}
.grid.btn.btn-primary:hover{
    background: #008fc7;
    border-color: #008fc7;
}
.grid.title{
    color: #8000b3;
    text-shadow: 1px 0px 1px #3b3b3b, 0px 1px 1px #969494, 2px 1px 1px #363636, 1px 2px 1px #8d8c8c, 3px 2px 1px #424242, 2px 3px 1px #949393, 4px 3px 1px #2e2e2e;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}
.grid.paragraph{
    padding-bottom: 3rem;
    text-justify: auto;
    font-size: 1.3rem;
}
.retrato{
    animation-name: efecto;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal ;
}
.retrato.img-fluid{
    height: auto;
}
@keyframes efecto{
    from{
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    to{
        clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    }
}
span.navbar-toggler-icon{
    z-index: 10;
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}
button.navbar-toggler{
    color: #ffffff!important;
    padding: 0;
    border: none;
    border-color: none!important;
}
.navbar{
    padding: 0;
}
.main.navbar{
    position: relative;
    height: 6rem;
    z-index: 100;
}
.main.navbar-brand{
    margin-left: 1rem;
    z-index: 100;
}
.navbar.d-lg-none.navbar-dark{
    z-index: 100;
}
.main.nav.position-absolute{
    padding-top: 8rem;
    background: rgba(22, 22, 22, 0.842);
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 10;
    align-content: center;
}
.main.nav-item{
    padding-bottom: 1rem;
}
@media (min-width: 57px) {
    .fondo-i.dark{
        display: none;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .fondo-i.dark{
        clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    a.text-secondary{
        color: #6c757d!important;
    }
    .fondo-i.dark{
        clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
        animation-name: verticalidad;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: normal ;
    }
    @keyframes verticalidad{
        from{
            clip-path: polygon(0 100%, 31% 100%, 31% 100%, 0% 100%);
        }
        to{
            clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
        }
    }
    .grid.col-lg-4{
        margin-right: 10rem;
    }
    .offset-sm-1{
        margin-left: 2rem;
    }
    .grid.col-sm-12{
        margin: 0;
    }
    .grid.col-lg-6{
        margin-left: 8rem;
        height: 75vh;
        align-items: center!important;
        justify-content: end;
    }
    .main.nav.position-absolute{
        padding-top: 0rem;
        background:none;
        width: 100%;
        height: auto;
        top: auto;
        z-index: 0;
        justify-content: flex-end;
    }
    .grid.title{
        margin-top: 0;
    }
    .retrato.img-fluid{
        height: 80vh;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .offset-sm-1{
        margin-left: 6rem;
    }
    .grid.col-lg-6{
        display: flex;
        justify-content: center;
        margin-left: 10rem;
    }
}
/* SKILLS */
.fondo-i.dark.skills{
    width: 100%;
    height: 95rem;
}
.main.navbar-brand.disabled:hover{
    filter: grayscale(0);
}
.main.navbar-brand.disabled{
    filter: grayscale(1);
    transition: all .3s ease-in;
}
.active{
    color: #008fc7!important;
}
.grid.skills.col-sm-12{
    margin-top: 3rem;
}
.skills.text-white{
    text-align: center;
}
.skills.img-fluid{
    display: flex;
    width: 7rem;
    height: 7rem;
    margin: auto;
    justify-self: center;
    margin-bottom: 1rem;
}
.skills.grid.paragraph{
    padding: 0 2rem;
    font-size: 1.5rem;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .fondo-i.dark.skills{
        height: 100vh;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fondo-i.dark.skills{
        height: 50rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .offset-lg-4{
        margin-right: 3rem;
        margin-left: 0;
    }
    .fondo-i.dark.skills{
        height: 100vh;
        margin: 0;
    }
    a.active{
        color: #008fc7!important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .grid.skills.col-lg-6{
        display: block;
    }
}
/* PROJECTS */
.fondo-i.dark.proj{
    width: 100%;
    height: 39rem;
    margin: 0;
}
.pro.col-sm-12{
    margin-top: 10rem;
}
.proj.img-fluid{
    display: flex;
    width: 4rem;
    height: 4rem;
    margin: auto;
    justify-self: center;
    margin-bottom: 1rem;
}
.calendar{
    display: flex;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 10;
}
.calendar.visible{
    opacity: 1;
}
.preview.btn{
    padding: .5rem 2rem;
}
.pro.parragraph{
    font-size: 1.3rem;
}
.preview.btn-primary{
    font-size: 1.3rem;
    font-weight: bold;
    background: none;
    border-color: #ffffff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.preview.btn-primary:hover{
    background: rgba(0, 0, 0, 0.233);
    border-color: #00000044;
}
.pro.img-fluid{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}
.c4-izmir{
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}
.c4-izmir figcaption{
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}
.c4-izmir figure{
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}
.pro-calendar.title{
    margin-bottom: 1rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.pro-calendar.title:hover{
    color: #008fc7;
}
.pro-calendar.container{
    width: 95%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
    display: flex;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.pro-calendar.container.activo{
    opacity: 1;
}
.pro-portfolio.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.pro-portfolio.title.position{
    margin-top: 12rem;
}
.pro-portfolio.title:hover{
    color: #008fc7;
}
.pro-portfolio.container{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    opacity: 0;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
    display: flex;
    transition: all .3s ease-in-out;
}
.pro-portfolio.container.activo{
    opacity: 1;
    margin-bottom: 10rem;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .fondo-i.dark.proj{
        height: 39rem;
    }
    .pro.col-sm-12{
        margin-top: 6rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fondo-i.dark.proj{
        height: 50rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .fondo-i.dark.proj{
        height: 100vh;
    }
    .pro.img-fluid{
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 69% 100%, 0% 100%);
    }
    .c4-izmir{
        clip-path: polygon(0 0, 100% 0, 69% 100%, 0% 100%);
    }
    .c4-izmir figcaption{
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%)!important;
    }
    .c4-izmir figure{
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%)!important;
    }
    .container{
        width: auto;
    }
    .pro.col-lg-5{
        margin-left: 5rem;
    }
    .pro-portfolio.container.activo{
        opacity: 1;
        margin-bottom: 0;
    }
    .pro.col-sm-12{
        margin-top: 6rem!important;
    }
    .pro.col-sm-12:nth-child(2){
        margin-top: 1rem!important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .pro.img-fluid{
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 62.98% 100%, 0% 100%);
    }
    .c4-izmir{
        clip-path: polygon(0 0, 100% 0, 62.98% 100%, 0% 100%);
    }
}
/* CONTACT */
.contact.col-sm-12{
    width: 100%;
}
.d-sm-none{
    display: none;
}
div.contact-gris{
    width: 100%;
    height: 75vh!important;
    background-image: url('../img/contact.png')!important;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1);
}
.contact-redes{
    width: 100%;
    flex-wrap: nowrap;
    height: 5rem;
    justify-content: space-around!important;
}
.red{
    display: flex;
    align-content: center;
}
.icon{
    display: flex;
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.icon-ico-sm{
    width: 5rem!important;
}
.icon-text{
    font-size: 1.2rem;
    align-self: center;
    margin-left: 2rem;
    width: 5rem;
    text-align: center;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fondo-i.black{
        height: 70rem!important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .fondo-i{
        width: 50%;
        height: 100vh!important;
    }
    .fondo-i.black{
        height: 100vh!important;
    }
    .fondo-i.black{
        width: 100%;
        height: content;
        animation-name: agrandar;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: normal ; 
        clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
    }
    @keyframes agrandar{
        from{
            clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
        }
        to{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
    .contact.col-sm-12{
        height: 75vh!important;
    }
    .contact.grid.col-lg-6{
        display: block;
        margin-left: 0;
    }
}