body{
    background: rgb(76, 83, 83);
}
.grid.container,
.grid.row{
    height: 100vh;
}
.grid.col-6:first-child{
    padding: 6rem;
}
.grid.btn{
    padding: .6rem 1.6rem;
    border-radius: .8rem;
}
.grid.btn.btn-primary{
    background: none;
    border-color: #ffffff;
    border: .2rem solid;
    transition: all .3s ease-in-out;
}
.grid.btn.btn-primary:hover{
    background: #008fc7;
    border-color: #008fc7;
}
.grid.title{
    color: #8000b3;
    padding-bottom: 5rem;
    text-align: center;
}
.grid.paragraph{
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}